.game-container{
  display:flex;
  justify-content: center;
  flex-direction: column;
  min-width: 40%;
  margin-bottom: 30%;
  /* border-style: solid; */
  /* min-width: 40%; */
}

.wpm-and-reload-container{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.reload{

  height: 2.5rem;
  align-self: center;
  fill: #585d6788 ;
  transition: transform .3s;
}

.reload:hover {
  fill: #585d67FF;
  cursor: pointer;
  transform: rotate(45deg);
}
