.source-container {
  /* font-size: calc(10px + 1.1vmin); */
  position: relative;
  font-size: 2.0rem;
  color: white;
  border: 2px solid #181c24;
  border-left: 10px solid #686c74 ;
  border-radius: 10px;
  width:70%;
  height:85vh;
  padding-left:3.3rem;
  padding-top:3rem;
  background-color: #383c44;
}

.src-char{

}

.src-char-right{
  opacity: 1;
}
.src-char-wrong{
  opacity: 1;
  background-color: #ff1133 ;
}

.src-char-before{
  opacity: .5;
}

/* .cursor { */
  /* position: absolute; */
  /* display: inline-block; */
  /* min-height: 2rem; */
  /* height: 2rem; */
  /* width: 1.22rem; */
  /* background-color: white; */
/* } */

.cursor {
  background-color: white;
  color:black;
  opacity:.5;

  animation: blink .4s linear infinite alternate;
}

@keyframes blink {
  0%{
    color: black;
    background-color:white;
  }
  49% {
    color: black;
    background-color:white;
  }
  50%{
    color: white;
    background-color:transparent;
  }
  100%{
    color: white;
    background-color:transparent;
  }

}


